$background-colour: #362388ff;
$secondary-colour: #c2abd9;
$main-colour: #9683EA;
$highlight-colour: #dcd6f7;
$text-colour: #f2f4ffff;

html,
body {
  height: 100%;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

body {
  background-color: $background-colour;
  color: #eee;
  font-family: monospace;
  font-size: 3vmin;
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
}

.ReactModalPortal {
  z-index: 1000;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.ReactModal__Content {
  padding: 0 !important;
  width: 330px !important;
}

.appHeader {
  background-color: $background-colour;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $text-colour;
}

.hidden {
  display: none;
}

.background {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  /*filter: blur(8em) opacity(0.6);*/
  position: absolute;
}

.mainWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 80%;
  max-width: 640px;
  z-index: 1;
  height: 100%;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.gameHeader {
  width: 100%;
  display: flex;
  border-bottom: 1px solid $highlight-colour;
  height: 60px;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, Arial;
  font-weight: bolder;
  font-size: 30px;
  color: $highlight-colour;
}

.headerContent {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 700px) {
  .headerContent {
    width: 640px;
  }
}

.mainContainer {
  flex: 1;
}

img {
  background: transparent;
}

.loginButton {
  background-color: $main-colour;
  border-radius: 28px;
  border: $highlight-colour;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: $secondary-colour;
}

.previousGuessesContainer {
  margin: 30px 0;
  width: 100%;
}

.previousGuesses {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.guess {
  display: flex;
  align-items: center;
  border: solid 1px $highlight-colour;
  width: 100%;
  height: 40px;
  font-family: Arial, serif;
  font-size: 12px;
  font-weight: bolder;
  color: $highlight-colour;
  margin: 5px;
  letter-spacing: 2px;
}

.guessText {
  margin: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.skippedGuess {
  margin: 5px;
  padding: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.guessSymbol {
  margin-right: 10px;
}

.webPlayback {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.playButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin-top: 5px;
  font-size: 60px;
  color: $highlight-colour;
}

.progressStep {
  height: 10px;
  font-size: 12px;
  background-color: $main-colour;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $highlight-colour;
  border-left: 3px solid $main-colour;
}

.inputContainer {
  width: 100%;
}

.actionsContainer {
  display: flex;
  margin-top: 20px;
  width: 100%;
  justify-content: space-between;
}

.skipButton {
  width: 75px;
  height: 40px;
  color: $main-colour;
  font-weight: bolder;
  background-color: $highlight-colour;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 80%;
}

.skipButton:hover {
  opacity: 100%;
}

.submitButton {
  width: 75px;
  height: 40px;
  color: $text-colour;
  font-weight: bolder;
  background-color: $main-colour;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 80%;
}

.submitButton:hover {
  opacity: 100%;
}

.gameEndScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.resultsMessage {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: $text-colour;
  font-family: monospace;
}

.resultsEmoji {
  margin-right: 10px;
  margin-top: 5px;
}

.albumCover {
  margin: 20px;
  height: 250px;
  width: 250px;
}

.songInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  color: $highlight-colour;
  font-family: monospace;
  text-align: center;
}

.songName {
  font-weight: bold;
}

.artistName {
  color: $secondary-colour;
}

.shareButtonContainer {
  margin-top: 15px;
}

.statsButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin-top: 5px;
  font-size: 30px;
  color: $highlight-colour;
}

.statsHeader {
  display: flex;
  font-size: 20px;
  margin-top: 20px;
}

.headerText {
  margin-left: 135px;
}

.closeButton {
  margin-left: 100px;
  font-size: 24px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

.chartContainer {
  border-bottom: 1px solid #494464;
}

.chartTitle {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-bottom: 20px;
}

.summaryStatsSection {
  display: flex;
  flex-basis: 0;
  margin: 30px 20px;
  justify-content: space-evenly;
}

.summaryStat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.headlineStat {
  font-size: 18px;
  font-family: monospace;
  font-weight: bolder;
}

.statExplanation {
  font-size: 12px;
  font-family: Helvetica, Arial;
  display: flex;
  height: 20px
}

.infoModal {
  margin: 30px;
}

.infoContainer {
  margin-top: 30px;
  font-size: 14px;
}